/* 
https://color.adobe.com/ru/Optimist-color-theme-10802489/?showPublished=true/ 
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #3E423A;
    font-family: 'Ubuntu', sans-serif;
}
.container_main {
    flex: 1;
}
.header-top {
    background: #F4F7D9;
    padding: 1rem 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__img {
    margin: 0 1.5rem;
}
.container {
    width: 1200px;
    margin: auto;
}

/*  =============== wrap-box*/
.wrap-box {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
}
.box {
    grid-column: span 2;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #F4F7D9;

}
.box_orders {
    grid-column: span 3;
}
.box_colleagues {
    grid-column: span 1;
}

.box__head{
    background: #417378;
    font-size: 1.4rem;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.box__content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: .6rem 3px;
}
.ic {
    display: flex;
    flex-direction: column;
    background: #A4CFBE;
    position: relative;
    text-align: center;
}
.ic__title {
    flex: 1;
    padding: 3rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
}
.ic__restock {
    background: #417378;
    color: white;
    margin: 0;
    padding: .5rem 0;
}
.ic__count {
    position: absolute;
    display: inline-block;
    padding: 5px;
    top: 0;
    right: 0;
    background: #6C6E58;
    color: white;
}

/* ============== new order form*/
input[type='text'],
textarea {
    border: 1px solid #417378;
    background: #A4CFBE;
    padding: .6rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: none;
}
button {
    border: 0;
    background: transparent;
}
.form {
    padding: 1rem;
}
.row {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
}
.label-form {
    display: block;
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom: .6rem;
}
.form-check {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.form-check-input {
    margin-right: 5px;
}
/* ============== new order scoops*/
.scoop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;
    border-bottom: 1px dotted #417378;
}
.scoop:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
}
.label-form_scoops {
    padding: 1rem 0;
    border-bottom: 1px dotted #417378;
    text-align:center;
}
.scoop__title {
    font-weight: bold;
}
.scoop-buttons {
    display: flex;
    align-items: center;
    border: 1px solid #417378;
}
.scoop-buttons__item{
    padding: 6px 12px;
    background: #417378;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
}
.scoop-buttons__count {
    margin: 0 15px;
    font-weight: bold;
}


/* orders */
.box__content_orders {
    grid-template-columns: repeat(4, 1fr);

}
.order {
    padding: 1rem;
    background: #fff;
}
.order-status {
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
}
.order-status__title {
    font-weight: bold;
}
.order-status__select {
    text-transform: uppercase;
}
.order-count{
   font-weight: bold;
}
.order-item {
    padding-top: 1rem;
}
.order-flavor__item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid white;
    padding: .6rem;
}
.order-flavor__item:last-of-type {
    padding-bottom: 0;
}

/* colleagues */
.colleagues {
    padding: 1rem 3px;
    display: flex;
   align-items: center;
    border-bottom: 1px dotted #417378;
}
.colleague__photo img {
    width: 100px;
    margin-right: 1rem;
    border: 5px solid white;
    border-radius: 100%;
}

.colleague-person-name {
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: bold;
}
.colleague-person-status {
    text-transform: lowercase;
    font-style: italic;
}



.footer {
    padding: 1rem;
    background: #F4F7D9;
}